# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# If using migrations
*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Env vars
.env
.env.*

# Node modules (if any frontend assets managed)
node_modules/

# Static files collected (if collectstatic used)
staticfiles/
