<nav>
    <div class="nav-left">
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="site-title-link">TaskManager Pro</a>
        {% else %}
            <a href="{% url 'home' %}" class="site-title-link">TaskManager Pro</a>
        {% endif %}
    </div>
    <ul class="nav-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Sair</button>
                </form>
            </li>
        {% else %}
            {% if request.path == '/auth/login/' %}
                <li><a href="{% url 'home' %}">Home</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Entrar</a></li>
                <li><a href="{% url 'signup' %}">Criar Conta</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
