{% load static widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}TaskManager Pro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

    {% include 'includes/navbar.html' %}

    {% include 'includes/messages.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block scripts %}{% endblock %}

</body>
</html>
